/* add more */

/* input:focus {
  outline: none;
} */

.form-group {
  position: relative;
}

.form-control {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  font-size: 18px;
  border: none;
  highlight: none;
  background: #21252b80;
  color: #abb2bf;
  /* border-top-right-radius: 2px; */
  /* border-top-left-radius: 2px; */
  font-family: 'Cabin', sans-serif;
}

.autocomplete-container {
  position: absolute;
  top: 99%;
  background-color: #21252b80;
  width: 100%;
}

.autocomplete-result {
  padding: 10px;
  color: #abb2bf;
  cursor: pointer;
}

/* .autocomplete-container {
  background: #21252b80;
  color: #abb2bf;
} */

/* .search-drop {
  position: absolute;
  padding: 0;
  top: 25px;
  right: 133px;
  background: #21252b80;
  width: 161px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 5px 10px;
  z-index: 100000;
}


.search-item {
  margin-bottom: 12px;
  border-bottom: 1px solid #abb2bf;
  color: #abb2bf;
} */

.search-item:hover {
  cursor: pointer;
}


/* wrappers and containers */

.page-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.add-more-container {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.component-container {
  /* min-height: 300px; */
  display: flex;
  flex-wrap: wrap;
  padding: 10px 24px;
  background: #21252b;
  border-radius: 4px;
  margin-bottom: 20px;
}

.summary-container {
  display: grid;
}

.day-data-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}


.weather-container {
  display: flex;
  overflow-y: auto;
}

.weather-item {
  width: 330px;
  margin: 5px;
  border-radius: 2px;
  background: #3d4148;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.55);
}

/* forecast lists */

.details-head-text {
  margin: 0px 5px;
}

.detail-container {
  margin: 10px 0px;
  min-height: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.detail-item {
  flex: 1 150px;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  background: #3d4148;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.55);
}

.slide-container {
  margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
  color: #abb2bf;
}

.slick-list {
  text-align: center;
}

.forecast-item {
  border-radius: 2px;
}

.forecast-wrapper {
  padding: 5px;
  height: 175px;
  margin: 5px;
  border-radius: 2px;
  background: #3d4148;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.55);
}

.weather-icon {
  margin: 0 auto;
  max-width: 25%;
}

.button {
  font-family: 'Cabin', sans-serif;
  font-size: 1em;
  width: 100%;
  height: 35px;
  margin: 10px 0px;
  padding: 5px;
  outline: none;
  color: #fff;
  background: rgb(43, 107, 181);
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.55);
  border: none;
  border-radius: 2px;
  transition: .2s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* details styling */

.rise-text {
  color: orange;
}

.set-text {
  color: cornflowerblue;
}

/* conditions styling */

.conditions-heading {
  width: 100%;
}

.conditions {
  position: relative;
  padding: 10px;
}

.hi-temp {
 color: #be682a;
}

.lo-temp {
  color: #5792d7;
}

.current-conditions {
  margin: 0;
}

.current-temp {
  margin: 2.5px 0;
  font-size: 4rem;
  /* text-align: center; */
}

/* remove / update */

.remove-update-container {
  display: flex;
  justify-content: space-between;
}

.remove,
.update {
  color: #2b6bb5;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.remove:hover,
.update:hover {
  color: #2660a2;
  font-weight: bolder;
}

/* update */

.update {
  color: #2b6bb5;
  font-weight: bold;
  font-size: 18px;
  cursor:pointer;
}


/* slider */

.slick-slider {
  /* max-height: 180px; */
}


.pulsate {
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
  text-align: center;
}

@-webkit-keyframes pulsate {
  0% {
      opacity: 0.5;
  }
  50% {
      opacity: 1.0;
  }
  100% {
      opacity: 0.5;
  }
}

/* media queries */

@media screen and (min-width: 768px) {

  .page-wrapper {
    margin: 0 auto;
    max-width: 70%;
  }

  .button {
    width: 30%;
    height: 41px;
    margin: 5px 5px;
  }

}

@media screen and (min-width: 1024) {

  .page-wrapper {
    margin: 0 auto;
    max-width: 70%;
  }

}
