body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  background: #17191e;
}

.sticky-toolbar-container {
  height: 80px;
  padding: 0px 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(39, 41, 44, 0.15);
}

.wrapper {
  margin: 5px auto;
  background: #17191e;
}

a {
  text-decoration: none;
  color: initial;
}

a:hover {
  color: rgb(43, 107, 181);
}

h1, h2, h3, h4 {
  margin: 5px 0;
  font-weight: bold;
  color: #abb2bf;
}

label, span, p {
  color: #abb2bf;
}

/* transitions */

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 750ms ease;
}

.fade-leave {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-leave.fade-leave-active {
  /* NOTE: THIS! */
  display: none;
}

.fade-appear {
  opacity: 0.01;
  transition: opacity 750ms ease-in-out;
}

.fade-appear.fade-appear-active {
  opacity: 1;
}

.background-enter {
  transform: translate(100%);
}

.background-enter.background-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}

.background-leave {
  transform: translate(0%);
}

.background-leave.background-leave-active {
  transform: translate(-100%);
  transition: transform 1000ms ease-in-out;
}

@media screen and (min-width: 768px) {

  .wrapper {
    height: calc(100vh - 100px);
    overflow-y: auto;
    margin: 0 auto;
    padding: 10px 2.5%;
  }

}
