body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  background: #17191e1a;
}

#skew {
  position: absolute;
  z-index: -1000;
  width: 100%;
  height: 75%;
  overflow: hidden;
  transform: skewY(-12deg);
  transform-origin: 0;
  /* background: linear-gradient(150deg, #373B44 25%, #73c8a9); */
  background: linear-gradient(to bottom, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sticky-toolbar-container {
  height: 65px;
  padding: 0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  /* background: linear-gradient(to right, #17191e , #383d49); */
  /* box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.75); */
}

.container {
  background: #fff;
  box-shadow: 4px 8px 20px 4px rgba(0,0,0,0.55);
}


.panel-container {
  display: grid;
  margin-bottom: 10px;
}

.panel-50-50 {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.panel-heading {
  padding: 15px;
  /* background: #3d4148; */
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid #abb2bf;
}

.panel-info {
  padding: 15px;
  /* background: #21252b; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  align-items: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.panel {
  border-radius: 2px;
}

.wrapper {
  margin: 5px auto;
  /* background: #17191e; */
}

a {
  text-decoration: none;
  color: initial;
}

a:hover {
  color: rgb(43, 107, 181);
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: bold;
  color: #abb2bf;
}

label, span, p {
  color: #abb2bf;
}

/* transitions */

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 750ms ease;
}

.fade-leave {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-leave.fade-leave-active {
  /* NOTE: THIS! */
  display: none;
}

.fade-appear {
  opacity: 0.01;
  transition: opacity 750ms ease-in-out;
}

.fade-appear.fade-appear-active {
  opacity: 1;
}

.background-enter {
  transform: translate(100%);
}

.background-enter.background-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}

.background-leave {
  transform: translate(0%);
}

.background-leave.background-leave-active {
  transform: translate(-100%);
  transition: transform 1000ms ease-in-out;
}

@media screen and (min-width: 768px) {

  .wrapper {
    /* height: calc(100vh - 85px); */
    /* overflow-y: auto; */
    margin: 0 auto;
    padding: 30px 15%;
  }

}
