.panel-container {
  display: grid;
  margin-bottom: 10px;
  grid-auto-flow: row;
  grid-gap: 20px;
  @media screen and (min-width: $break-med) {
    grid-template-rows: 1fr;
  }
}

.panel {
  border-radius: 2px;
}

.panel-heading {
  padding: 0px 15px;
  margin: 10px 0px;
  font-size: 14px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  @media screen and (min-width: $break-large) {
    font-size: 24px;
    min-height: 35px;
  }
}

.panel-info {
  padding: 0px 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .25fr 3fr;
  grid-gap: 5px;
  align-items: center;
}

.panel-details {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;
  @media screen and (min-width: $break-med) {
    grid-auto-flow: column;
  }
}

.current {
  align-self: center;
  justify-self: center;
}

.overview-card {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.breakdown-card {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  align-self: center;
  text-align: center;
  grid-auto-flow: row;
  grid-gap: 10px;
  @media screen and (min-width: $break-small) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: $break-med) {
    text-align: right;
  }
}

.breakdown-item {
}

.weather-icon {
  justify-self: center;
  margin: auto 0;
  width: 25%;
  @media screen and (min-width: $break-med) {
    width: 50%;
  }
}
