.panel-forecast-details {
  display: grid;
  grid-auto-flow: row;
  max-height: 200px;
  overflow-y: scroll;
}

.panel-forecast-item {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 2.5px;
  border-radius: 3px;
  border-bottom: 1px solid $charcoal-med;
}

.panel-forecast-item:nth-child(odd) {
  background-color: $charcoal-xlight;
}

.forecast-weather-icon {
  max-width: 15%;
  @media screen and (min-width: $break-med) {
    max-width: 20%;
  }
}
