.panel-forecast-details {
  display: grid;
  grid-gap: 15px;
  grid-template-rows: repeat(8, 1fr);
  // @media screen and (min-width: $break-med){
  //   grid-template-columns: repeat(4, 1fr);
  // }
}


.panel-forecast-item {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  grid-gap: 2.5px;
}

.forecast-weather-icon {
  max-width: 15%;
  @media screen and (min-width: $break-med) {
    max-width: 20%;
  }
}
