#skew {
  position: absolute;
  z-index: -1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: skewY(-5deg);
  transform-origin: 0;
  background: linear-gradient(to bottom, #49a09d, #5f2c82);
  @media screen and (min-width: $break-med) {
    transform: skewY(-12deg);
    height: 75%;
  }
}

.wrapper {
  margin: 2.5%;
  @media screen and (min-width: $break-med) {
    margin: 24px auto;
  }
}

.container {
  background: #f2f2f2;
  box-shadow: 4px 8px 20px 4px rgba(0,0,0,0.55);
  border-radius: 2px;
}

.panel-container {
  display: grid;
  margin-bottom: 10px;
}

.panel-50-50 {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
