.sticky-toolbar-container {
  height: 65px;
  padding: 0 5%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: $break-med) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
