.sticky-toolbar-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
  @media screen and (min-width: $break-med) {
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 1fr;
    justify-items: normal;
  }
}

.sticky-toolbar-nav {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  grid-gap: 20px;
  @media screen and (min-width: $break-med) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: normal;
  }
}

.bottom-toolbar-container {
  display: grid;
  grid-auto-flow: column;
}

.favorite-icon {
  justify-self: start;
  svg {
    height: 24px;
    width: 24px;
    transform: rotate(0);
    transition: all 75ms ease-in-out;
  }
}

.favorite-icon svg:hover {
  transform: rotate(15deg);
  cursor: pointer;
}

.refresh-icon {
  justify-self: end;
  svg {
    height: 24px;
    width: 24px;
    transform: rotate(0);
    transition: all 500ms ease-in-out;
  }
}

.refresh-icon svg:hover {
  transform: rotate(360deg);
  cursor: pointer;
}
