.sticky-toolbar-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
  @media screen and (min-width: $break-med) {
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 1fr;
    justify-items: normal;
  }
}

.sticky-toolbar-nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  @media screen and (min-width: $break-med) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: normal;
  }
}
