.clickable {
  cursor: pointer;
}

/* transitions */

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 750ms ease;
}

.fade-leave {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-leave.fade-leave-active {
  /* NOTE: THIS! */
  display: none;
}

.fade-appear {
  opacity: 0.01;
  transition: opacity 750ms ease-in-out;
}

.fade-appear.fade-appear-active {
  opacity: 1;
}

.background-enter {
  transform: translate(100%);
}

.background-enter.background-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}

.background-leave {
  transform: translate(0%);
}

.background-leave.background-leave-active {
  transform: translate(-100%);
  transition: transform 1000ms ease-in-out;
}

.pulsate {
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
  text-align: center;
}

@-webkit-keyframes pulsate {
  0% {
      opacity: 0.5;
  }
  50% {
      opacity: 1.0;
  }
  100% {
      opacity: 0.5;
  }
}
