.page-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.weather-item {
  flex: 1 150px;
  margin: 5px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.975);
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.55);
  transition: .2s ease-in-out;
}

.weather-item:hover {
  transform: scale(1.025);
}

/* forecast lists */

.details-head-text {
  margin: 0px 5px;
}

.detail-container {
  margin: 10px 0px;
  min-height: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.detail-item {
  flex: 1 150px;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.975);
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.55);
}

.slide-container {
  margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
  color: #000;
}

.slick-list {
  text-align: center;
}

.forecast-item {
  border-radius: 2px;
}

.forecast-wrapper {
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.975);
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.55);
}

.weather-icon {
  margin: 0 auto;
  max-width: 25%;
}

.button {
  font-family: 'Iconsolata', monospace;
  font-size: 1em;
  width: 200px;
  height: 60px;
  margin: 10px 5px;
  padding: 5px;
  outline: none;
  color: #fff;
  background: rgb(43, 107, 181);
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.55);
  border: none;
  border-radius: 2px;
  transition: .2s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}

/* details styling */

.rise-text {
  color: orange;
}

.set-text {
  color: aliceblue;
}

/* conditions styling */

.conditions {
  padding: 10px;
}

.hi-temp {
 color: #be682a;
}

.lo-temp {
  color: #5792d7;
}
.current-conditions {
  margin: 0;
}

.current-temp {
  margin: 2.5px 0;
  font-size: 4rem;
  text-align: center;
}

/* media queries */

@media screen and (min-width: 768px) {

  .page-wrapper {
    margin: 0 auto;
    max-width: 70%;
  }

}

@media screen and (min-width: 1024) {

  .page-wrapper {
    margin: 0 auto;
    max-width: 70%;
  }

}
