/* add more */

input:focus {
  outline: none;
}

input[type="text"] {
  width: 100%;
  height: 35px;
  margin-top: 5px;
  font-size: 18px;
  border: none;
  highlight: none;
  background: #3d4148;
  color: #abb2bf;
  border-radius: 2px;
  font-family: 'Cabin', sans-serif;
}

/* wrappers and containers */

.page-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.add-more-container {
  margin: 10px auto;
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap;
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.weather-item {
  flex: 1 150px;
  margin: 5px;
  border-radius: 2px;
  background: #3d4148;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.55);
  transition: .2s ease-in-out;
}

.weather-item:hover {
  transform: scale(1.025);
}

/* forecast lists */

.details-head-text {
  margin: 0px 5px;
}

.detail-container {
  margin: 10px 0px;
  min-height: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.detail-item {
  flex: 1 150px;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  background: #3d4148;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.55);
}

.slide-container {
  margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
  color: #abb2bf;
}

.slick-list {
  text-align: center;
}

.forecast-item {
  border-radius: 2px;
}

.forecast-wrapper {
  padding: 5px;
  height: 175px;
  margin: 5px;
  border-radius: 2px;
  background: #3d4148;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.55);
}

.weather-icon {
  margin: 0 auto;
  max-width: 25%;
}

.button {
  font-family: 'Cabin', sans-serif;
  font-size: 1em;
  width: 100%;
  height: 35px;
  margin: 10px 0px;
  padding: 5px;
  outline: none;
  color: #fff;
  background: rgb(43, 107, 181);
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.55);
  border: none;
  border-radius: 2px;
  transition: .2s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* details styling */

.rise-text {
  color: orange;
}

.set-text {
  color: cornflowerblue;
}

/* conditions styling */

.conditions-heading {
  padding: 0 5px;
}

.conditions {
  position: relative;
  padding: 10px;
}

.hi-temp {
 color: #be682a;
}

.lo-temp {
  color: #5792d7;
}

.current-conditions {
  margin: 0;
}

.current-temp {
  margin: 2.5px 0;
  font-size: 4rem;
  text-align: center;
}

/* remove */

.remove {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 5;
  color: #2b6bb5;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.remove:hover {
  color: #2660a2;
  font-weight: bolder;
}

/* slider */

.slick-slider {
  /* max-height: 180px; */
}

/* media queries */

@media screen and (min-width: 768px) {

  .page-wrapper {
    margin: 0 auto;
    max-width: 70%;
  }

  input[type="text"] {
    width: 50%;
    height: 30px;
    font-size: 16px;
  }

  .button {
    width: 20%;
    height: 30px;
    margin: 10px 5px;
  }

}

@media screen and (min-width: 1024) {

  .page-wrapper {
    margin: 0 auto;
    max-width: 70%;
  }

}
