.weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.weather-item {
  flex: 1 150px;
  margin: 5px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.975);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
}
/* forecast lists */

.detail-container {
  margin: 10px auto;
  padding: 5px;
  max-width: 48.75%;
  min-height: 150px;
  /*display: flex;
  flex-wrap: wrap;
  justify-content: space-around;*/
  background: rgba(255, 255, 255, 0.975);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
}

.slide-container {
  margin: 0 auto;
  max-width: 50%;
}

.slick-prev:before,
.slick-next:before {
  color: #000;
}

.slick-list {
  text-align: center;
}

.forecast-item {
  border-radius: 2px;
}

.forecast-wrapper {
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.975);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
}

/* conditions styling */

.conditions {
  padding: 10px;
}

.hi-temp {
 color: #be682a;
}

.lo-temp {
  color: #5792d7;
}
.current-conditions {
  margin: 0;
}

.current-temp {
  margin: 2.5px 0;
  font-size: 4rem;
}
