body {
  box-sizing: border-box;
  margin: 5px auto;
  padding: 0 2.5%;
  font-family: 'Iconsolata', monospace;
  background: #E9EBEE;
  /*background: url('./weatherIcon.jpg');*/
  background-size: cover cover;
}

a {
  text-decoration: none;
  color: initial;
}

a:hover {
  color: rgb(43, 107, 181);
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: bold;
  color: rgb(43, 107, 181);
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

@media screen and (min-width: 768px) {

  body {
    padding: 0 5%;
    margin: 10% auto;
  }

}
